body {
    background-color: #0C151D;
    overflow-x: hidden;
}

.lighting {
    margin-left: 700px;
    margin-top: 50px;
}

.picture {
    margin-left: 400px;
    margin-top: 10px;
}

.profile-stats {
    font-family: 'Poppins';
    font-size: 20px;
    position: absolute;
    margin-left: 670px;
    margin-top: 100px;


    color: #F1F2F4;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    ;
}

h3 {
    margin-top: -15px;
    font-weight: 300;
    color: #A3ABB2;
}

.manage-top {
    margin-top: -30px;
}

.profile-facts {
    flex-direction: column;
    display: flex;

}

.headings {
    display: flex;
    color: #A3ABB2;
    font-family: 'Poppins';
    gap: 100px;
    margin-left: 440px;
    font-size: 19px;
    margin-top: 50px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

.CV-button,
.contact-button {
    padding: 10px 80px;
    font-size: 19px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #FFE071;
    font-family: "Poppins";
}

.contact-button {
    background-color: #171F26;
    font-family: "Poppins";
    padding: 23px 80px;
    color: #A3ABB2;
    border-radius: 5px;
}

.background {
    background-color: #171F26;
    height: 80px;
    width: 500px;
    margin-top: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;


}

.Portfolio-button {
    background-color: #0C151D;
    margin-top: 10px;
    height: 60px;
    width: 200px;
    margin-left: 0px;
    border-color: none;
    border-radius: 10px;
    color: aliceblue;
}


.Skills-button {
    background-color: #171F26;
    height: 60px;
    width: 200px;
    border-color: none;
    border-radius: 10px;
    color: aliceblue;
}

.Websites {
    margin-top: 40px;
    border-radius: 50%;
}

.Links {
    display: flex;
}

@media screen and (min-width: 500px) {
    .profile-content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
    }
}